body{
  background-color:#e5e5e5;
 
}
#main{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
h1{
 text-align:center; 
 font-size:30px;
 color:#8d00ff;
}
p{
font-size:11px;
}

